nodered_flow
[{"id":"5bae5799.32db9","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"Temperature 1","topic":"/xnigsensors@gmail.com/xnig/temp1","qos":"0","broker":"431b1362.919d64","x":90,"y":340,"wires":[["5711c604.0bdc28","23afd1ec.fd5a26","373dbd5e.ab6ba2","d645c6cb.8668e8","23383a8e.5c511e","6dbc1670.b78968","a2cee7f4.5e1368","8b3b4648.5a8ad"]]},{"id":"5711c604.0bdc28","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":374.0000305175781,"y":322.5,"wires":[]},{"id":"65bf0fe8.f4c778","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"t1","group":"eefef7d3.37f0f","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":589,"y":373.5,"wires":[]},{"id":"68ee07bb.e4ccf8","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"t1 graph","group":"eefef7d3.37f0f","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for plot data...","dot":false,"ymin":"10","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":600,"y":418.5,"wires":[[],[]],"inputLabels":["Temperature (degrees Celsius)"]},{"id":"b4a04f27.d9681","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"Temperature 2","topic":"/xnigsensors@gmail.com/xnig/temp2","qos":"0","broker":"431b1362.919d64","x":90,"y":680,"wires":[["a24b1443.712698","f5f6deba.b5ead8","cbfc6529.2abe4","af59f2e9.a01ce","12bc813c.abb8af","c980676e.97e66","1d8efbfe.c988f4","72639b57.04c8c4"]]},{"id":"a24b1443.712698","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":361.0000305175781,"y":701.5,"wires":[]},{"id":"dd0b984.f644768","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"t2","group":"a92c0c99.24cfb","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":571,"y":734.5,"wires":[]},{"id":"5650f287.202c44","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"a92c0c99.24cfb","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for plot data...","dot":false,"ymin":"10","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":568,"y":777.5,"wires":[[],[]]},{"id":"52e2247b.c10cac","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"Humidity","topic":"/xnigsensors@gmail.com/xnig/hum","qos":"0","broker":"431b1362.919d64","x":80,"y":1040,"wires":[["a8502c13.a4d2e","bb0a7ffb.cbb66","c5b4572c.3d99d","abf40934.a948","86feb0e7.415c3","a90aff03.6e1c98","64353f41.05b3a","ba7f5a92.20d58"]]},{"id":"a8502c13.a4d2e","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"false","complete":"payload","x":338.0000305175781,"y":1073.5,"wires":[]},{"id":"fce7ff08.0756f8","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"","group":"37d7735f.a22b7c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":563,"y":1118.4999389648438,"wires":[]},{"id":"c75ab57d.9e7b2","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"37d7735f.a22b7c","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for plot data...","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":561,"y":1156.4999389648438,"wires":[[],[]]},{"id":"f0724859.df6ae8","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"Timestamp","topic":"/xnigsensors@gmail.com/xnig/timestamp","qos":"0","broker":"431b1362.919d64","x":83.5,"y":44.5,"wires":[["5b90d3d5.22b14c","cac3714e.eca6b8"]]},{"id":"5b90d3d5.22b14c","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":false,"console":"true","complete":"payload","x":378.5000305175781,"y":25,"wires":[]},{"id":"a9c138ac.1b6558","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"9fb395fd.426e5","order":0,"width":"6","height":"6","label":"Timestamp Check","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":583.5,"y":70.25,"wires":[[],[]]},{"id":"1c76dec7.c15989","type":"comment","z":"b7eb0e8f.d01a5","name":"timestamp","info":"Flow to compare sent and recieved times of data ","x":84.5,"y":100.46665954589844,"wires":[]},{"id":"f393add3.2e7f7","type":"comment","z":"b7eb0e8f.d01a5","name":"Temp1","info":"Flow to subscribe to TMP36 sensor and graph values on dashboard","x":68.5,"y":393.4666442871094,"wires":[]},{"id":"5ec7217e.2355e8","type":"comment","z":"b7eb0e8f.d01a5","name":"Temp 2","info":"Flow to recieve data from LM35 temeprature sensor and graph on dashboard","x":71.5,"y":734.4666442871094,"wires":[]},{"id":"e4d2d73b.44c028","type":"comment","z":"b7eb0e8f.d01a5","name":"Humidity","info":"Flow to recieve humidity data and show on dashboard","x":75.5,"y":1091.4667053222656,"wires":[]},{"id":"cac3714e.eca6b8","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364.5000305175781,"y":70.5,"wires":[["a9c138ac.1b6558"]]},{"id":"23afd1ec.fd5a26","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":363.5,"y":365.5,"wires":[["65bf0fe8.f4c778"]]},{"id":"373dbd5e.ab6ba2","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":367.5,"y":415.5,"wires":[["68ee07bb.e4ccf8"]]},{"id":"f5f6deba.b5ead8","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":348.5,"y":740.5,"wires":[["dd0b984.f644768"]]},{"id":"cbfc6529.2abe4","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":355.5,"y":782.5,"wires":[["5650f287.202c44"]]},{"id":"bb0a7ffb.cbb66","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":333.5,"y":1114.4999389648438,"wires":[["fce7ff08.0756f8"]]},{"id":"c5b4572c.3d99d","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342.5,"y":1162.4999389648438,"wires":[["c75ab57d.9e7b2"]]},{"id":"d2f35618.db08e8","type":"function","z":"b7eb0e8f.d01a5","name":"Temp 1 email","func":"\ncontext.previousTemp = context.previousTemp || 0;\nvar temp = msg.payload;\n\nvar upperThreshold = 26;\n\n// Check if the new temp is different from the previous\nif (context.previousTemp != temp){\n\tif ( temp >= upperThreshold){\n\t    msg.topic = \"Node-RED Temperature 1\"\n\t\tmsg.payload = \"It's too hot! Current temperature is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n}","outputs":1,"noerr":0,"x":605.9999389648438,"y":467,"wires":[["17b8bc41.aa96a4"]]},{"id":"17b8bc41.aa96a4","type":"e-mail","z":"b7eb0e8f.d01a5","server":"smtp.gmail.com","port":"465","secure":true,"name":"xnigsensors@gmail.com","dname":"xnigsensors email","x":789,"y":466.5,"wires":[]},{"id":"d645c6cb.8668e8","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":362.9999694824219,"y":470,"wires":[["d2f35618.db08e8"]]},{"id":"23c3fb8e.b02f7c","type":"function","z":"b7eb0e8f.d01a5","name":"Temp 2 email","func":"\ncontext.previousTemp = context.previousTemp || 0;\nvar temp = msg.payload;\n\nvar upperThreshold = 26;\n\n// Check if the new temp is different from the previous\nif (context.previousTemp != temp){\n\tif ( temp >= upperThreshold){\n\t    msg.topic = \"Node-RED Temperature 2\"\n\t\tmsg.payload = \"It's too hot! Current temperature is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n}","outputs":1,"noerr":0,"x":583,"y":821,"wires":[["9b70b694.03139"]]},{"id":"9b70b694.03139","type":"e-mail","z":"b7eb0e8f.d01a5","server":"smtp.gmail.com","port":"465","secure":true,"name":"xnigsensors@gmail.com","dname":"xnigsensors email","x":768,"y":821.5,"wires":[]},{"id":"af59f2e9.a01ce","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":353,"y":831,"wires":[["23c3fb8e.b02f7c"]]},{"id":"ce860ced.f860a","type":"function","z":"b7eb0e8f.d01a5","name":"Humidity email","func":"\ncontext.previousTemp = context.previousTemp || 0;\nvar temp = msg.payload;\n\nvar upperThreshold = 70;\n\n// Check if the new temp is different from the previous\nif (context.previousTemp != temp){\n\tif ( temp >= upperThreshold){\n\t    msg.topic = \"Node-RED Temperature 1\"\n\t\tmsg.payload = \"It's too humid! Current humidity is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n}","outputs":1,"noerr":0,"x":586.5,"y":1205.4999389648438,"wires":[["d11132cb.6ae98"]]},{"id":"d11132cb.6ae98","type":"e-mail","z":"b7eb0e8f.d01a5","server":"smtp.gmail.com","port":"465","secure":true,"name":"xnigsensors@gmail.com","dname":"xnigsensors email","x":774.5,"y":1203,"wires":[]},{"id":"abf40934.a948","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340.5,"y":1211.4999389648438,"wires":[["ce860ced.f860a"]]},{"id":"23383a8e.5c511e","type":"ui_text","z":"b7eb0e8f.d01a5","group":"eefef7d3.37f0f","order":3,"width":0,"height":0,"name":"","label":"Sensor:","format":"TMP36","layout":"row-left","x":356.0666809082031,"y":158.49998474121094,"wires":[]},{"id":"6dbc1670.b78968","type":"ui_text","z":"b7eb0e8f.d01a5","group":"eefef7d3.37f0f","order":4,"width":0,"height":0,"name":"","label":"Tolerance (at 25°C):","format":"±1°C (typ)","layout":"row-left","x":380.0666809082031,"y":240.49998474121094,"wires":[]},{"id":"12bc813c.abb8af","type":"ui_text","z":"b7eb0e8f.d01a5","group":"a92c0c99.24cfb","order":3,"width":0,"height":0,"name":"","label":"Sensor:","format":"LM35","layout":"row-left","x":346.8833312988281,"y":550.88330078125,"wires":[]},{"id":"c980676e.97e66","type":"ui_text","z":"b7eb0e8f.d01a5","group":"a92c0c99.24cfb","order":4,"width":0,"height":0,"name":"","label":"Tolerance (at 25°C):","format":"±0.4°C (typ)","layout":"row-left","x":372.8833312988281,"y":629.88330078125,"wires":[]},{"id":"a2cee7f4.5e1368","type":"ui_text","z":"b7eb0e8f.d01a5","group":"eefef7d3.37f0f","order":6,"width":0,"height":0,"name":"","label":"Linearity:","format":"0.5°C","layout":"row-left","x":354.0666809082031,"y":282.4999694824219,"wires":[]},{"id":"1d8efbfe.c988f4","type":"ui_text","z":"b7eb0e8f.d01a5","group":"a92c0c99.24cfb","order":0,"width":0,"height":0,"name":"","label":"Linearity:","format":"0.25°C","layout":"row-left","x":343.8833312988281,"y":664.88330078125,"wires":[]},{"id":"86feb0e7.415c3","type":"ui_text","z":"b7eb0e8f.d01a5","group":"37d7735f.a22b7c","order":3,"width":0,"height":0,"name":"","label":"Sensor:","format":"HS1101LF","layout":"row-left","x":330.06671142578125,"y":924.1833190917969,"wires":[]},{"id":"8b3b4648.5a8ad","type":"ui_text","z":"b7eb0e8f.d01a5","group":"eefef7d3.37f0f","order":5,"width":0,"height":0,"name":"","label":"Operating Temperature:","format":"-40°C - 150°C","layout":"row-left","x":405.0666809082031,"y":195.49996948242188,"wires":[]},{"id":"72639b57.04c8c4","type":"ui_text","z":"b7eb0e8f.d01a5","group":"a92c0c99.24cfb","order":4,"width":0,"height":0,"name":"","label":"Operating Temperature:","format":"-55°C - 150°C","layout":"row-left","x":393.8833312988281,"y":589.88330078125,"wires":[]},{"id":"a90aff03.6e1c98","type":"ui_text","z":"b7eb0e8f.d01a5","group":"37d7735f.a22b7c","order":5,"width":0,"height":0,"name":"","label":"Average Sensitivity:","format":"33% - 75%","layout":"row-left","x":359.3833312988281,"y":959.38330078125,"wires":[]},{"id":"64353f41.05b3a","type":"ui_text","z":"b7eb0e8f.d01a5","group":"37d7735f.a22b7c","order":4,"width":0,"height":0,"name":"","label":"Tolerance (in this region):","format":"±2% (typ)","layout":"row-left","x":378.3833312988281,"y":997.38330078125,"wires":[]},{"id":"ba7f5a92.20d58","type":"ui_text","z":"b7eb0e8f.d01a5","group":"37d7735f.a22b7c","order":6,"width":0,"height":0,"name":"","label":"Humidity Hysteresis:","format":"±1%","layout":"row-left","x":367.3833312988281,"y":1034.38330078125,"wires":[]},{"id":"431b1362.919d64","type":"mqtt-broker","z":"","broker":"labbroker.soton.ac.uk","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eefef7d3.37f0f","type":"ui_group","z":"","name":"Temperature 1","tab":"cad970aa.2df72","order":2,"disp":true,"width":"6"},{"id":"a92c0c99.24cfb","type":"ui_group","z":"","name":"Temperature 2","tab":"cad970aa.2df72","order":2,"disp":true,"width":"6"},{"id":"37d7735f.a22b7c","type":"ui_group","z":"","name":"Relative Humidity 1","tab":"a9af1376.c32a8","order":1,"disp":true,"width":"6"},{"id":"9fb395fd.426e5","type":"ui_group","z":"","name":"Timestamp","tab":"985a850a.49c798","order":1,"disp":true,"width":"6"},{"id":"cad970aa.2df72","type":"ui_tab","z":"","name":"XNIG Sensors: Temperature","icon":"dashboard","order":1},{"id":"a9af1376.c32a8","type":"ui_tab","z":"","name":"XNIG Sensors: Relative Humidity","icon":"dashboard","order":3},{"id":"985a850a.49c798","type":"ui_tab","z":"","name":"Time Check","icon":"dashboard","order":5}]
