xnig_nodered
[{"id":"5bae5799.32db9","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"","topic":"xnig/temp1","qos":"0","broker":"45b07076.46c83","x":81.5,"y":138.5,"wires":[["5711c604.0bdc28","23afd1ec.fd5a26","373dbd5e.ab6ba2"]]},{"id":"5711c604.0bdc28","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":517.5,"y":119,"wires":[]},{"id":"65bf0fe8.f4c778","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"t1","group":"eefef7d3.37f0f","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":532.5,"y":159,"wires":[]},{"id":"68ee07bb.e4ccf8","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"t1 graph","group":"eefef7d3.37f0f","order":2,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for plot data...","dot":false,"ymin":"10","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":528.5,"y":207,"wires":[[],[]],"inputLabels":["Temperature (degrees Celsius)"]},{"id":"b4a04f27.d9681","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"","topic":"xnig/temp2","qos":"0","broker":"45b07076.46c83","x":79.5,"y":251.5,"wires":[["a24b1443.712698","f5f6deba.b5ead8","cbfc6529.2abe4"]]},{"id":"a24b1443.712698","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":507.5,"y":244,"wires":[]},{"id":"dd0b984.f644768","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"t2","group":"23e83294.7601ce","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":525.5,"y":282,"wires":[]},{"id":"5650f287.202c44","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"23e83294.7601ce","order":2,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for plot data...","dot":false,"ymin":"10","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":529.5,"y":348,"wires":[[],[]]},{"id":"52e2247b.c10cac","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"hum","topic":"xnig/hum","qos":"0","broker":"45b07076.46c83","x":69.5,"y":370.5,"wires":[["a8502c13.a4d2e","bb0a7ffb.cbb66","c5b4572c.3d99d"]]},{"id":"a8502c13.a4d2e","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"false","complete":"payload","x":515.5,"y":390,"wires":[]},{"id":"fce7ff08.0756f8","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"","group":"68721062.0f70c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":503.5,"y":442,"wires":[]},{"id":"c75ab57d.9e7b2","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"68721062.0f70c","order":2,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for plot data...","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":481.5,"y":506,"wires":[[],[]]},{"id":"f0724859.df6ae8","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"","topic":"xnig/timestamp","qos":"0","broker":"45b07076.46c83","x":101.5,"y":48.5,"wires":[["5b90d3d5.22b14c","cac3714e.eca6b8"]]},{"id":"5b90d3d5.22b14c","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":491.5,"y":29,"wires":[]},{"id":"a9c138ac.1b6558","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"9fb395fd.426e5","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":505.5,"y":67.25,"wires":[[],[]]},{"id":"1c76dec7.c15989","type":"comment","z":"b7eb0e8f.d01a5","name":"timestamp","info":"Flow to compare sent and recieved times of data ","x":85.5,"y":94.46665954589844,"wires":[]},{"id":"f393add3.2e7f7","type":"comment","z":"b7eb0e8f.d01a5","name":"Temp1","info":"Flow to subscribe to TMP36 sensor and graph values on dashboard","x":75.5,"y":185.46665954589844,"wires":[]},{"id":"5ec7217e.2355e8","type":"comment","z":"b7eb0e8f.d01a5","name":"Temp 2","info":"Flow to recieve data from LM35 temeprature sensor and graph on dashboard","x":70.5,"y":298.4666748046875,"wires":[]},{"id":"e4d2d73b.44c028","type":"comment","z":"b7eb0e8f.d01a5","name":"Humidity","info":"Flow to recieve humidity data and show on dashboard","x":83.5,"y":417.4666748046875,"wires":[]},{"id":"cac3714e.eca6b8","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340.5,"y":68.5,"wires":[["a9c138ac.1b6558"]]},{"id":"23afd1ec.fd5a26","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":375,"y":149,"wires":[["65bf0fe8.f4c778"]]},{"id":"373dbd5e.ab6ba2","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":383,"y":190,"wires":[["68ee07bb.e4ccf8"]]},{"id":"f5f6deba.b5ead8","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":355,"y":269,"wires":[["dd0b984.f644768"]]},{"id":"cbfc6529.2abe4","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368,"y":323,"wires":[["5650f287.202c44"]]},{"id":"bb0a7ffb.cbb66","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":333,"y":420,"wires":[["fce7ff08.0756f8"]]},{"id":"c5b4572c.3d99d","type":"delay","z":"b7eb0e8f.d01a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":471,"wires":[["c75ab57d.9e7b2"]]},{"id":"45b07076.46c83","type":"mqtt-broker","z":"","broker":"152.78.131.193","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"arduino/test","birthQos":"0","birthPayload":""},{"id":"eefef7d3.37f0f","type":"ui_group","z":"","name":"Temperature 1","tab":"cad970aa.2df72","order":2,"disp":true,"width":"6"},{"id":"23e83294.7601ce","type":"ui_group","z":"","name":"Temperature 2","tab":"cad970aa.2df72","order":3,"disp":true,"width":"6"},{"id":"68721062.0f70c","type":"ui_group","z":"","name":"Relative Humidity","tab":"cad970aa.2df72","order":4,"disp":true,"width":"6"},{"id":"9fb395fd.426e5","type":"ui_group","z":"","name":"Timestamp","tab":"985a850a.49c798","order":1,"disp":true,"width":"6"},{"id":"cad970aa.2df72","type":"ui_tab","z":"","name":"XNIG Sensors","icon":"dashboard","order":1},{"id":"985a850a.49c798","type":"ui_tab","z":"","name":"Time Check","icon":"dashboard","order":2}]
