xnig_nodered
[{"id":"5bae5799.32db9","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"","topic":"arduino/temp1","qos":"0","broker":"45b07076.46c83","x":189.5,"y":191.5,"wires":[["5711c604.0bdc28","65bf0fe8.f4c778","68ee07bb.e4ccf8"]]},{"id":"5711c604.0bdc28","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":466.5,"y":194,"wires":[]},{"id":"65bf0fe8.f4c778","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"t1","group":"eefef7d3.37f0f","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":428.5,"y":248,"wires":[]},{"id":"68ee07bb.e4ccf8","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"t1 graph","group":"eefef7d3.37f0f","order":0,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":428.5,"y":301,"wires":[[],[]],"inputLabels":["Temperature (degrees Celsius)"]},{"id":"b4a04f27.d9681","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"","topic":"arduino/temp2","qos":"0","broker":"45b07076.46c83","x":193.5,"y":415.5,"wires":[["a24b1443.712698","dd0b984.f644768","5650f287.202c44"]]},{"id":"a24b1443.712698","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"payload","x":481.5,"y":412,"wires":[]},{"id":"dd0b984.f644768","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"t2","group":"23e83294.7601ce","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":445.5,"y":471,"wires":[]},{"id":"5650f287.202c44","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"23e83294.7601ce","order":0,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":428.5,"y":546,"wires":[[],[]]},{"id":"52e2247b.c10cac","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"hum","topic":"arduino/hum","qos":"0","broker":"45b07076.46c83","x":153.5,"y":662.5,"wires":[["a8502c13.a4d2e","fce7ff08.0756f8","c75ab57d.9e7b2"]]},{"id":"a8502c13.a4d2e","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"false","complete":"true","x":388.5,"y":660,"wires":[]},{"id":"fce7ff08.0756f8","type":"ui_gauge","z":"b7eb0e8f.d01a5","name":"","group":"68721062.0f70c","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":374.5,"y":722,"wires":[]},{"id":"c75ab57d.9e7b2","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"68721062.0f70c","order":0,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":367.5,"y":785,"wires":[[],[]]},{"id":"f0724859.df6ae8","type":"mqtt in","z":"b7eb0e8f.d01a5","name":"","topic":"arduino/timestamp","qos":"0","broker":"45b07076.46c83","x":216.5,"y":58.5,"wires":[["5b90d3d5.22b14c","a9c138ac.1b6558"]]},{"id":"5b90d3d5.22b14c","type":"debug","z":"b7eb0e8f.d01a5","name":"","active":true,"console":"true","complete":"true","x":444.5,"y":41,"wires":[]},{"id":"a9c138ac.1b6558","type":"ui_chart","z":"b7eb0e8f.d01a5","name":"","group":"ef0d9b31.db8698","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":441.5,"y":100.25,"wires":[[],[]]},{"id":"45b07076.46c83","type":"mqtt-broker","z":"","broker":"152.78.131.193","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"arduino/test","birthQos":"0","birthPayload":""},{"id":"eefef7d3.37f0f","type":"ui_group","z":"","name":"Temperature 1","tab":"cad970aa.2df72","order":2,"disp":true,"width":"6"},{"id":"23e83294.7601ce","type":"ui_group","z":"","name":"Temperature 2","tab":"cad970aa.2df72","order":3,"disp":true,"width":"6"},{"id":"68721062.0f70c","type":"ui_group","z":"","name":"Relative Humidity","tab":"cad970aa.2df72","order":4,"disp":true,"width":"6"},{"id":"ef0d9b31.db8698","type":"ui_group","z":"","name":"Timestamp","tab":"cad970aa.2df72","order":1,"disp":true,"width":"6"},{"id":"cad970aa.2df72","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]
